.product {
  width: calc((100% - (4 - 1) * 15px) / 4);
  display: flex;
  flex-direction: column;
  gap: 3px;
  background: white;
  transition: all 0.5s;
  cursor: pointer;
}

.product:hover {
  transform: scale(1.05);
}

.product__image {
  width: 100%;
  display: block;
}

.product__choice,
.product__new {
  min-height: 19.5px;
}

@media screen and (max-width: 1200px) {
  .product {
    width: calc((100% - (3 - 1) * 15px) / 3);
  }
}

@media screen and (max-width: 768px) {
  .product {
    width: 100%;
  }
}
